#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: aliceblue;
    font-family: Verdana;
}

.current > a{
    color: red;
}

.title{
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana;
}

body{
    margin: 0px;
}

